<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <mat-horizontal-stepper [linear]="isLinear" formArrayName="formArray">
    <mat-step [stepControl]="formArray.get([0])" formGroupName="0">
      <ng-template matStepLabel>Fill out course detail</ng-template>
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="title" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Category" formControlName="category" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Description" formControlName="description" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="formArray.get([1])" formGroupName="1">
      <ng-template matStepLabel>Fill out course date and status</ng-template>
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" placeholder="startDate" [formControl]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="completeDate" placeholder="Complete date" [formControl]="completeDate">
          <mat-datepicker-toggle matSuffix [for]="completeDate"></mat-datepicker-toggle>
          <mat-datepicker #completeDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Status" formControlName="status" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="URL" formControlName="link" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Success</ng-template>
        Course has been inseted successfully
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button type="submit"></button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
