<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <mat-horizontal-stepper [linear]="isLinear" formArrayName="formArray" #stepper>
    <mat-step [stepControl]="formArray.get([0])" formGroupName="0">
      <ng-template matStepLabel>Fill out course detail</ng-template>
        <div class="step1fields">
          <mat-form-field>
            <input matInput placeholder="Title" formControlName="title" required>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Provider" formControlName="provider" required>
            </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Category" formControlName="category" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Description" formControlName="description" required>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext type="button" class="btn btn-sm btn-secondary">Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="formArray.get([1])" formGroupName="1">
      <ng-template matStepLabel>Fill out course date and status</ng-template>
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" placeholder="startDate" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="completeDate" placeholder="Complete date" formControlName="completeDate">
          <mat-datepicker-toggle matSuffix [for]="completeDate"></mat-datepicker-toggle>
          <mat-datepicker #completeDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Status" formControlName="status" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="URL" formControlName="link" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Print" formControlName="print" required>
          </mat-form-field>
        <div>
          <button mat-button matStepperPrevious class="btn btn-sm btn-secondary">Back</button>
          <button mat-button matStepperNext type="button" class="btn btn-sm btn-secondary">Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Success</ng-template>
        Course has been inserted successfully
      <div>
        <button mat-button matStepperPrevious class="btn btn-sm btn-secondary">Back</button>
        <button mat-button (click)="stepper.reset()" class="btn btn-sm btn-secondary">Reset</button>
        <button mat-button matStepperNext class="btn btn-sm btn-secondary">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
