.expansionPanel {
    margin-bottom: 9px;
    background-color: #3A3F44;
}

.content {
    display: flex;
    flex-direction: row;
}

mat-panel-description {
    text-align: center;
}

.alignCat {
    flex-grow: 1
}

.alignCompletedate {
    flex-grow: 0;
}