.expansionPanel {
    margin-bottom: 9px;
    background-color: #3A3F44;
}

.alignRight {
    position: relative;
    left: 75%;
}

.alignStartdate {
    position: relative;
    left: 29%;
}

.alignCompletedate {
    position: relative;
    left: 65%;
}