.expansionPanel {
    margin-bottom: 9px;
    background-color: #3A3F44;
}

.content {
    display: flex;
    flex-direction: row;
}

.content div {
    flex-grow: 1
}

.content div:last-child {
    flex-grow: 0;
}