<!--The content below is only a placeholder and can be replaced.-->
<navbar></navbar>
<div class="container">
  <a href="#" (click)="addCourse()" class="icon-add-course"
    ><fa-icon
      [icon]="faPlusCircle"
      size="lg"
      [styles]="{'color': 'gray'}"
    ></fa-icon
  ></a>
  <router-outlet>
    <span *ngIf="showLoader">
      showLoader {{showLoader}} This is here
      <progress-spinner></progress-spinner>
    </span>
  </router-outlet>
  <add-course
    [showSideBar]="showSideBar"
    (onHideSidebar)="resetSideBar()"
  ></add-course>
</div>
