.add-course-label {
  margin-top: 1em;
  color: #dedede;
}
.form-group {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ui-inputtext,
.ui-calendar {
  width: 100%;
}

button {
  margin-right: 5px;
}
