.add-course-label {
  margin-top: 1em;
  color: #dedede;
}
.form-group {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ui-dropdown,
.ui-multiselect-label-container,
.ui-inputtext {
  width: 100%;
}
